// COLOR PALETTE
$clr1: #ffffff;
$clr2: #e1daf6;
$clr3: #b1f1df;
$clr4: #6ed0b2;
$clr5: #019577;
$clr6: #062720;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;
