@import "../setup/functions";
@import "../setup/typography";
@import "../setup/variables";

.contact-details-main {
    font-family: Grandstander, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .buttons-wrapper {
        display: flex;
        margin-top: rem(10px);
        display: flex;
        transition: transform 0.2s;

        .navigation-link {
            cursor: pointer;

            :hover {
                transform: scale(1.2);
            }
        }
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: rem(10px);
        border: 1px solid $clr6;
        border-radius: 10px;
        padding: rem(10px);
        box-shadow: 0px 3px 3px 2px #0f0f0f;
        background-color: $clr1;
        color: black;

        .contact-img {
            border: 1px solid black;
            border-radius: 50%;
            width: rem(250px);
            background-color: $clr6;
            box-shadow: 0px 3px 3px 2px #0f0f0f;
            margin: auto;
        }

        span {
            color: $clr6;
        }
    }
}
