.contact-main {
    width: 90vw;
    margin: auto;
    
    .top-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;

        .add-contact {
            height: 48px;
            cursor: pointer;
        }
    }
}
