@import "../setup/functions";
@import "../setup/typography";
@import "../setup/variables";

.contact-edit-main {
    font-family: Grandstander, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 10px;
    margin: rem(10px);
    background-image: linear-gradient(to bottom, $clr6, $clr1);

    .contact-image {
        margin-top: rem(10px);
        border: 1px solid black;
        border-radius: 50%;
        width: rem(250px);
        background-color: $clr3;
        box-shadow: 0px 3px 3px 2px #0f0f0f;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding: rem(5px);

        :first-child {
            margin-top: rem(10px);
        }

        label {
            margin-bottom: rem(5px);
            color: $clr5;
        }

        input {
            all: unset;
            padding: rem(5px);
            width: rem(200px);
            color: $clr6;
            border-bottom: 2px solid $clr5;
            margin-bottom: rem(10px);
        }

        .edit-form.ng-invalid.ng-touched {
            border: 1px solid red;
        }
    }

    .contact-save {
        font-family: Grandstander, sans-serif;
        padding: rem(5px);
        margin-bottom: rem(10px);
        width: rem(80px);
        border-radius: 25px;
        background-color: $clr2;
        color: $clr6;
        box-shadow: 0px 1px 3px 0px;
    }
}
