@import "../../styles/setup/variables";
@import "../../styles/setup/functions";

.charts-main {
    margin: auto;
    width: 90vw;
    height: 30vh;
    
    #market-price {
        margin-top: rem(10px);
        border: 2px solid $clr6;
        border-radius: rem(25px);
        box-shadow: 1px 2px 3px 0px;
    }

    #confirmed-trx {
        margin-top: rem(10px);
        border: 2px solid $clr6;
        border-radius: rem(25px);
        box-shadow: 1px 2px 3px 0px;
    }
}