@import "../../styles/setup/variables";
@import "../../styles/setup/typography";
@import "../../styles/setup/functions";

input {
    all: unset;
}

.contact-filter-main {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;

    img {
        height: 35px;
    }

    #filter-contacts {
        margin: rem(10px);
        border: 2px solid black;
        border-radius: 25px;
        padding: rem(8px);
        min-width: rem(290px);
        min-height: rem(25px);
        background-color: $clr2;
        box-shadow: 0px 2px;

        // Trying to style the place holder

        // ::placeholder {
        //     font-family: Grandstander, sans-serif !important;
        //     color: $clr4 !important;
        // }

        // ::-webkit-input-placeholder { /* Chrome/Opera/Safari     to fix!! */
        //     font-family: Grandstander, sans-serif !important;
        //     color: $clr4 !important;
        //   }
        // :host ::ng-deep .e-input::placeholder {
        //     font-family: Grandstander, sans-serif;
        //     color: $clr4;
        // }
    }
}
