@import "../../styles/setup/variables";
@import "../setup/typography";

.contact-list-main {
    font-family: Grandstander, sans-serif;

    .contact-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid rgb(59, 59, 59);
        margin-top: 3px;
        background-image: linear-gradient(to bottom, $clr6, $clr1);
        // background-color: $clr6;
        color: black;
        
        .contact-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: rem(1500px);
            height: rem(125px);
            margin: 10px; //to fix

            img {
                border-radius: 50%;
                box-shadow: 0px 3px 3px 2px #0f0f0f;
                width: 150px;
                border: 2px solid rgb(59, 59, 59);
                background-color: $clr2;
            }
        }
    }
}
