<section class="app-navbar">
        <div class="app-logo">
            <img src="../../../assets/icons/wallet-109.svg" alt="app-logo">
            <p class="logo-name">Charlie Bit<span>.</span>me</p>
        </div>
        <div class="navbar-links">
            <div class="navbar-link" routerLinkActive="active"><a routerLink="/home"><img
                        src="../../../assets/icons/home.png" title="Home"></a></div>
            <div class="navbar-link" routerLinkActive="active"><a routerLink="/list"><img
                        src="../../../assets/icons/users.png" title="Contact List"></a></div>
        </div>
</section>