<section class="contact-details-main">
    <div class="buttons-wrapper">
        <div class="navigation-link back" routerLinkActive="active" title="Back to Contacts">
            <a routerLink="/contact">
                <img src="../../../assets/icons/back.png" alt="Back to Contact List">
            </a>
        </div>
        <div class="navigation-link edit" routerLinkActive="active" title="Edit">
            <a [routerLink]="['/contact/edit', contact._id]">
                <img src="../../../assets/icons/edit.png" alt="Edit" class="navigation-link">
            </a>
        </div>
        <div class="navigation-link delete"  title="Delete Contact" (click)="onDelete()">
                <img src="../../../assets/icons/delete.png" alt="Edit" class="navigation-link">
        </div>
    </div>
    <div class="contact-details">
        <img class="contact-img" [src]="contact.img" alt="contact-image">
        <h3 class="contact-name"><span>Name:</span> {{ contact.name }}</h3>
        <h3 class="contact-email"><span>Email:</span> {{ contact.email }}</h3>
        <h3 class="contact-pohne"><span>Phone:</span> {{ contact.phone }}</h3>
    </div>
</section>