<section class="contact-details-main">
    <div class="buttons-wrapper">
        <div class="navigation-link back" routerLinkActive="active" title="Back to Contacts">
            <a routerLink="/contact">
                <img src="../../../assets/icons/back.png" alt="Back to Contact List">
            </a>
        </div>
        <div class="navigation-link edit" routerLinkActive="active" title="Edit">
            <a [routerLink]="['/contact', contact._id, 'edit']">
                <img src="../../../assets/icons/edit.png" alt="Edit" class="navigation-link">
            </a>
        </div>
    </div>
    <div class="contact-details">
        <h3 class="contact-name">{{ contact.name }}</h3>
        <h3 class="contact-pohne">{{ contact.phone }}</h3>
        <h3 class="contact-email">{{ contact.email }}</h3>
        <img class="contact-img" [src]="contact.img" alt="contact-image">
    </div>
</section>